body, html {
    height:100%;
    width:100%;
    margin:0;
    font-family: Helvetica;
}

header {
    height:20%;
}

.logo {
    width: 55%;
}

.menu {
    width: 15%;
    margin-top:-75%;
    vertical-align:middle;
}

#hamburger {
    margin-left:7.5%;
    width: 15%;
  margin-top: -74%;
  vertical-align: middle;
}

#logout {
        width: 23.5%;
        margin-left: 75%;
        margin-top: -85%;
    vertical-align:middle;
}

.feed {
    width:100%;
    height:80%;
    overflow:auto;
}

.feed_table_cell {
    border:solid;
    border-color:#5A8CE8;
    border-right:hidden;
    border-left:hidden;
    width:7%;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    font-family: sans-serif;
}

.feed_table_row {
    display:table-row;
    height:100px;
}

.divclass {
    margin-left:25%;
}

#feed_table {
    margin-top:25%;
    display:list-item;
}
#map {
    height: 100%;
    width: 100%;
}
#mapholder{
    
    height: 100%;
    width: 100%;
}

.minus_friend{
    display:inline-block;
    text-align:right;
    vertical-align:text-bottom;
    height: 30px;
}

.name {
    display:inline-block;
    margin-right:10%;
    vertical-align:super;
}

.leaflet-left {
    visibility:hidden;
}

.popup {
    text-align:center;
    vertical-align:middle;
}

.popup button {
    margin-top:5%;
}
.way{
    border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #000;
    color: #fff;
    font: bold;
}
.here{
    border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #000;
    color: #fff;
    font: bold;
}