body {
    height:100%;
    width:100%;
    margin:0;
    font-family: Helvetica;
}

header {
    height:20%;
    background-color:#5A8CE8;
}

.logo {
    width: 55%;
    margin-left:2.5%;
}

.menu {
    width: 15%;
    margin-right:2.5%;
    margin-left:2.5%;
    margin-top:-25%;
    vertical-align:middle;
}

.feed {
    width:100%;
    height:80%;
    overflow:auto;
}

.feed_table_cell {
    border:solid;
    border-color:#5A8CE8;
    border-right:hidden;
    border-left:hidden;
    width:7%;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    font-family: sans-serif;
}

.feed_table_row {
    display:table-row;
    height:100px;
}

.divclass {
    margin-left:25%;
}

#feed_table {
    margin-top:25%;
    display:list-item;
}